div {
    font-family: "Courier New", monospace;
    font-size: 17pt;
    max-width: 80vw;
}

.center {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

#clockcanva {
    max-width: 60vw;
    margin-top: 15vh;
}

button {
    border: none;
    font-family: "Courier New", monospace;
    font-size: 15pt;
    padding: 7px 20px;
}

body {
    background-color: #F8F2DC;
}


.poga-style0 {
    background-color: #F8F2DC;
    border-bottom: solid #000 3px;
    color: #000;
}

.poga-style0:hover {
    background-color: #0000003f;
}


.poga-style1 {
    background-color: #070d23;
    border-bottom: solid #FFF 3px;
    color: #FFF;
}

.poga-style1:hover {
    background-color: #0000003f;
}


.poga-style2 {
    background-color: #000;
    border-bottom: solid #0F0 3px;
    color: #0F0;
}

.poga-style2:hover {
    background-color: #ffffff3f;
}