@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.topBar {
    height: 20px;
    border-bottom: #0F0 solid 1px;
    background-color: #00ff004d;
    color: #0F0;
    font-size: 11pt;
    padding: 1px;
    padding-left: 5px;
    font-family: 'Inconsolata', monospace;
}

.verFlexContainer {
    display: flex;
    flex-direction: column;
}

.verFlexContainer > div {
    border: 1px #0F0 solid;
    margin: 5px;
}

html, body {
    background-color: #000000;
    width: 100%;
    height: 100%;
}

    #mainContainer {
        color: white;
        background-color: #121215;
        width: 100vw;
        height: 100vh;
        max-width: 960px;
    }

        #horFlexContainer {
            display: flex;
            background-color: #000000;
            padding: 5px;
            width: 100%;
            height: 100%;
            max-width: 960px;
        }
        
        #horFlexContainer > div{
            background-color: #000000;
        }

            #mainpage {
                flex: 1;
            }

                #titleContainer {
                    height: 120px;
                }

                    #title {
                        height: 100%;
                        line-height: 2.3;
                        color: #0F0;
                        font-size: 40px;
                        font-family: 'Inconsolata', monospace;
                        text-align: center;
                    }

                #blogContainer {
                    flex: 1;
                }

                    #blog {
                        height: calc(100% - 20px);
                        color: #0F0;
                        padding: 10px;
                        font-size: 15pt;
                        font-family: 'Inconsolata', monospace;
                        text-align: center;
                    }

            #sidepage {
                width: 312px;
            }

                #clockContainer {
                    height: 322px;
                }

                    #clock {
                        height: calc(100% - 20px);
                    }

                        #clockCanvas {
                            margin: 5%;
                            height: 90%;
                            width: 90%;
                        }

                #matrixRainContainer {
                    flex: 1;
                    max-height: calc(100vh - 352px);
                }

                    #matrixRain {
                        height: calc(100% - 20px);
                        overflow: hidden;
                    }